<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        h1{
            color: rgb(2, 10, 233);
            text-align: center;
        }
        h4{
            color: rgb(246, 104, 27);
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>This is product listing page</h1>
    </div>
    <div>
       {% block content %}{% endblock content %}
    </div>
</body>
</html>