<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django project</title>
    <style>
        h1{
            color: brown;
            text-align: center;
        }
        h4{
            color: greenyellow;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>This is first django  html render</h1>
    </div>
    <div>
        <h4>from Pradipta</h4>
    </div>
</body>
</html>